// Color
$color-primary : #191919;
$color-secondary : #181818;
$color-violet: #b61984;
$color-white: #fff;
$color-bg-1: #dcd1f3;
// font-size
$fs-1: 13px;
$fs-2: 23px;
$fs-3 : 30px;
$fs-4: 40px;
$fs-5: 50px;

// font-weight
$fw-4: 400;
$fw-6: 600;
$fw-7: 700;

// Border
$boder-1: 0 0 4px 0 rgba(0,0,0,0.1);
// box-shadow
$box-sd-1: 0 30px 30px -10px rgba(0,0,0,0.2);
$box-sd-2: 0 0 4px 0 rgba(0,0,0,0.1);
// transition 
$ts: all .5s;

//breakpoints
$breakpoints : (
    "xs": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
)