.header{
    .show{
        background: $color-white;
    }
    .navbar {
        padding: 0.5rem 0;
    }
    .header__main {
        transition: all 1s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
      }
      .fixed{
        background: #fff;
        padding: 0;
        box-shadow: 0 0 10px rgba(167, 164, 164, 0.5);
        .navbar{
            padding: 0;
        }
        .nav-item{
            padding: 10px 18px;
        }
        .nav-item::after, .nav-item.active::after{
            bottom: -7px;
        }
      }
      
    .header__img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .navbar-nav{

        margin: 0 50px 0 180px;
    }
    .nav-item{
        padding: 10px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: $color-violet;
            bottom: -20px;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: $ts;
        }
        &:hover::after{
            width: 10px;
            height: 10px;
           
        }
        &.active::after{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $color-violet;
            bottom: -20px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .nav-link{
            @include styleText($color-secondary,$fs-1, $fw-6);
            transition:$ts;
            
            &:hover{
                color: $color-violet;
            }
        }

    }
    .header__tel{
        @include styleText($color-white,$fs-1 + 0.5, $fw-4);
        transition: $ts ease;
        @include styleButton(10px,25px,2px solid $color-violet,0 0 0 3em $color-violet inset,30px);
        &:hover{
            box-shadow: 0 0 0 1px $color-white inset;
            color: $color-violet;
            text-decoration: none;
        }
    }
    .header__icon{
        padding: 0 10px;
        margin-left: auto;
        a{
            color: $color-primary;
        }
        i{
            padding: 0 5px;
            font-size: $fs-1 ;
            &:hover{
                color: $color-violet;
            }
        }
    } 
}
// Responsive
@include responsive("xl"){
    .header{
        .header__main{
            background-color: $color-white;
        }
        .header__img-logo{
            width: 50%;
        }
        #headerOur{
            text-align: center;
        }
        .navbar-nav{
            margin: 0 0 30px ;
        }
        .header__icon{
            margin: 20px 0
        }
    }
}